blis-0.2.4
chatterbot-1.0.5
cymem-2.0.3 
joblib-0.16.0 
mathparse-0.1.2 
murmurhash-1.0.2 
nltk-3.5 
numpy-1.19.0 
pint-0.14 
plac-0.9.6 
preshed-2.0.1 
pymongo-3.10.1 py
thon-dateutil-2.7.5 pyyaml-5.1.2 regex-2020.7.14 spacy-2.1.9 sqlalchemy-1.2.19 srsly-1.0.2 thinc-7.0.8 wasabi-0.7.1

